html,
body {
    margin: 0;
    padding: 0;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font: 14px "Open Sans", sans-serif;
    line-height: 1.4em;
    background: #F9FAFD;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 665px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:focus {
    outline: 0;
}

.hidden {
    display: none;
}

.todoapp {
    background: #fff;
    margin: 130px 0 40px 0;
    position: relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
    0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.todoapp input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.todoapp input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
}

.todoapp input::input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e0e0e0;
}

.todoapp h1 {
    position: absolute;
    top: -75px;
    width: 100%;
    font-size: 33px;
    font-weight: 100;
    text-align: center;
    color: #9298EB;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

.app-logo {
    position: absolute;
    top: -65px;
    width: 184px;
    height: 37px;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='183' height='37' viewBox='0 0 183 37' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.541 29C2.189 29 1.881 28.879 1.617 28.637C1.375 28.373 1.254 28.065 1.254 27.713V4.514C1.254 4.14 1.375 3.832 1.617 3.59C1.859 3.348 2.167 3.227 2.541 3.227H18.018C18.392 3.227 18.7 3.348 18.942 3.59C19.184 3.81 19.305 4.107 19.305 4.481C19.305 4.811 19.184 5.097 18.942 5.339C18.7 5.581 18.392 5.702 18.018 5.702H3.828V14.81H14.157C14.531 14.81 14.839 14.931 15.081 15.173C15.323 15.415 15.444 15.712 15.444 16.064C15.444 16.416 15.323 16.713 15.081 16.955C14.839 17.197 14.531 17.318 14.157 17.318H3.828V27.713C3.828 28.065 3.707 28.373 3.465 28.637C3.223 28.879 2.915 29 2.541 29ZM24.651 17.879C24.717 16.515 25.069 15.294 25.707 14.216C26.367 13.138 27.214 12.291 28.248 11.675C29.304 11.059 30.47 10.751 31.746 10.751C32.758 10.751 33.539 10.894 34.089 11.18C34.639 11.466 34.848 11.884 34.716 12.434C34.628 12.764 34.474 12.984 34.254 13.094C34.056 13.204 33.803 13.248 33.495 13.226C33.209 13.204 32.879 13.182 32.505 13.16C31.273 13.05 30.173 13.182 29.205 13.556C28.259 13.908 27.5 14.458 26.928 15.206C26.378 15.954 26.103 16.845 26.103 17.879H24.651ZM24.849 29C24.453 29 24.145 28.89 23.925 28.67C23.705 28.45 23.595 28.142 23.595 27.746V12.203C23.595 11.807 23.705 11.499 23.925 11.279C24.145 11.059 24.453 10.949 24.849 10.949C25.245 10.949 25.553 11.059 25.773 11.279C25.993 11.499 26.103 11.807 26.103 12.203V27.746C26.103 28.142 25.993 28.45 25.773 28.67C25.553 28.89 25.245 29 24.849 29ZM45.605 29.165C43.845 29.165 42.272 28.769 40.886 27.977C39.5 27.185 38.411 26.096 37.619 24.71C36.827 23.324 36.431 21.751 36.431 19.991C36.431 18.209 36.827 16.625 37.619 15.239C38.411 13.853 39.5 12.764 40.886 11.972C42.272 11.18 43.845 10.784 45.605 10.784C47.365 10.784 48.927 11.18 50.291 11.972C51.677 12.764 52.766 13.853 53.558 15.239C54.35 16.625 54.757 18.209 54.779 19.991C54.779 21.751 54.372 23.324 53.558 24.71C52.766 26.096 51.677 27.185 50.291 27.977C48.927 28.769 47.365 29.165 45.605 29.165ZM45.605 26.855C46.881 26.855 48.025 26.558 49.037 25.964C50.049 25.37 50.841 24.556 51.413 23.522C51.985 22.488 52.271 21.311 52.271 19.991C52.271 18.671 51.985 17.494 51.413 16.46C50.841 15.404 50.049 14.579 49.037 13.985C48.025 13.391 46.881 13.094 45.605 13.094C44.329 13.094 43.185 13.391 42.173 13.985C41.161 14.579 40.358 15.404 39.764 16.46C39.192 17.494 38.906 18.671 38.906 19.991C38.906 21.311 39.192 22.488 39.764 23.522C40.358 24.556 41.161 25.37 42.173 25.964C43.185 26.558 44.329 26.855 45.605 26.855ZM75.198 29C74.824 29 74.516 28.879 74.274 28.637C74.032 28.395 73.911 28.098 73.911 27.746V19.166C73.911 17.802 73.647 16.68 73.119 15.8C72.613 14.92 71.909 14.26 71.007 13.82C70.127 13.38 69.126 13.16 68.004 13.16C66.926 13.16 65.947 13.369 65.067 13.787C64.209 14.205 63.527 14.777 63.021 15.503C62.515 16.229 62.262 17.054 62.262 17.978H60.447C60.491 16.592 60.865 15.36 61.569 14.282C62.273 13.182 63.208 12.324 64.374 11.708C65.54 11.07 66.838 10.751 68.268 10.751C69.83 10.751 71.227 11.081 72.459 11.741C73.691 12.379 74.659 13.325 75.363 14.579C76.089 15.833 76.452 17.362 76.452 19.166V27.746C76.452 28.098 76.331 28.395 76.089 28.637C75.847 28.879 75.55 29 75.198 29ZM61.008 29C60.612 29 60.293 28.89 60.051 28.67C59.831 28.428 59.721 28.12 59.721 27.746V12.236C59.721 11.84 59.831 11.532 60.051 11.312C60.293 11.07 60.612 10.949 61.008 10.949C61.382 10.949 61.679 11.07 61.899 11.312C62.141 11.532 62.262 11.84 62.262 12.236V27.746C62.262 28.12 62.141 28.428 61.899 28.67C61.679 28.89 61.382 29 61.008 29ZM89.116 29C87.95 29 86.905 28.725 85.981 28.175C85.079 27.625 84.364 26.877 83.836 25.931C83.308 24.963 83.044 23.863 83.044 22.631V6.494C83.044 6.12 83.154 5.812 83.374 5.57C83.616 5.328 83.924 5.207 84.298 5.207C84.672 5.207 84.98 5.328 85.222 5.57C85.464 5.812 85.585 6.12 85.585 6.494V22.631C85.585 23.753 85.915 24.677 86.575 25.403C87.235 26.107 88.082 26.459 89.116 26.459H90.007C90.359 26.459 90.645 26.58 90.865 26.822C91.085 27.064 91.195 27.372 91.195 27.746C91.195 28.12 91.063 28.428 90.799 28.67C90.535 28.89 90.205 29 89.809 29H89.116ZM80.899 13.82C80.569 13.82 80.294 13.721 80.074 13.523C79.854 13.303 79.744 13.039 79.744 12.731C79.744 12.401 79.854 12.137 80.074 11.939C80.294 11.719 80.569 11.609 80.899 11.609H89.314C89.644 11.609 89.919 11.719 90.139 11.939C90.359 12.137 90.469 12.401 90.469 12.731C90.469 13.039 90.359 13.303 90.139 13.523C89.919 13.721 89.644 13.82 89.314 13.82H80.899ZM97.1463 29C96.7503 29 96.4313 28.89 96.1893 28.67C95.9693 28.428 95.8593 28.109 95.8593 27.713V12.236C95.8593 11.84 95.9693 11.532 96.1893 11.312C96.4313 11.07 96.7503 10.949 97.1463 10.949C97.5203 10.949 97.8173 11.07 98.0373 11.312C98.2793 11.532 98.4003 11.84 98.4003 12.236V27.713C98.4003 28.109 98.2793 28.428 98.0373 28.67C97.8173 28.89 97.5203 29 97.1463 29ZM97.1133 7.517C96.6293 7.517 96.2113 7.341 95.8593 6.989C95.5073 6.637 95.3313 6.208 95.3313 5.702C95.3313 5.152 95.5073 4.723 95.8593 4.415C96.2333 4.085 96.6623 3.92 97.1463 3.92C97.6083 3.92 98.0153 4.085 98.3673 4.415C98.7413 4.723 98.9283 5.152 98.9283 5.702C98.9283 6.208 98.7523 6.637 98.4003 6.989C98.0483 7.341 97.6193 7.517 97.1133 7.517ZM111.932 29C110.766 29 109.721 28.725 108.797 28.175C107.895 27.625 107.18 26.877 106.652 25.931C106.124 24.963 105.86 23.863 105.86 22.631V6.494C105.86 6.12 105.97 5.812 106.19 5.57C106.432 5.328 106.74 5.207 107.114 5.207C107.488 5.207 107.796 5.328 108.038 5.57C108.28 5.812 108.401 6.12 108.401 6.494V22.631C108.401 23.753 108.731 24.677 109.391 25.403C110.051 26.107 110.898 26.459 111.932 26.459H112.823C113.175 26.459 113.461 26.58 113.681 26.822C113.901 27.064 114.011 27.372 114.011 27.746C114.011 28.12 113.879 28.428 113.615 28.67C113.351 28.89 113.021 29 112.625 29H111.932ZM103.715 13.82C103.385 13.82 103.11 13.721 102.89 13.523C102.67 13.303 102.56 13.039 102.56 12.731C102.56 12.401 102.67 12.137 102.89 11.939C103.11 11.719 103.385 11.609 103.715 11.609H112.13C112.46 11.609 112.735 11.719 112.955 11.939C113.175 12.137 113.285 12.401 113.285 12.731C113.285 13.039 113.175 13.303 112.955 13.523C112.735 13.721 112.46 13.82 112.13 13.82H103.715ZM126.365 29.165C124.605 29.165 123.032 28.769 121.646 27.977C120.26 27.185 119.171 26.096 118.379 24.71C117.587 23.324 117.191 21.751 117.191 19.991C117.191 18.209 117.587 16.625 118.379 15.239C119.171 13.853 120.26 12.764 121.646 11.972C123.032 11.18 124.605 10.784 126.365 10.784C128.125 10.784 129.687 11.18 131.051 11.972C132.437 12.764 133.526 13.853 134.318 15.239C135.11 16.625 135.517 18.209 135.539 19.991C135.539 21.751 135.132 23.324 134.318 24.71C133.526 26.096 132.437 27.185 131.051 27.977C129.687 28.769 128.125 29.165 126.365 29.165ZM126.365 26.855C127.641 26.855 128.785 26.558 129.797 25.964C130.809 25.37 131.601 24.556 132.173 23.522C132.745 22.488 133.031 21.311 133.031 19.991C133.031 18.671 132.745 17.494 132.173 16.46C131.601 15.404 130.809 14.579 129.797 13.985C128.785 13.391 127.641 13.094 126.365 13.094C125.089 13.094 123.945 13.391 122.933 13.985C121.921 14.579 121.118 15.404 120.524 16.46C119.952 17.494 119.666 18.671 119.666 19.991C119.666 21.311 119.952 22.488 120.524 23.522C121.118 24.556 121.921 25.37 122.933 25.964C123.945 26.558 125.089 26.855 126.365 26.855ZM148.698 29.165C146.96 29.165 145.398 28.769 144.012 27.977C142.626 27.163 141.526 26.063 140.712 24.677C139.92 23.291 139.524 21.718 139.524 19.958C139.524 18.22 139.909 16.658 140.679 15.272C141.471 13.886 142.538 12.797 143.88 12.005C145.222 11.191 146.74 10.784 148.434 10.784C149.908 10.784 151.239 11.103 152.427 11.741C153.615 12.357 154.572 13.182 155.298 14.216V4.514C155.298 4.118 155.419 3.81 155.661 3.59C155.903 3.348 156.211 3.227 156.585 3.227C156.959 3.227 157.267 3.348 157.509 3.59C157.751 3.81 157.872 4.118 157.872 4.514V20.09C157.828 21.806 157.399 23.357 156.585 24.743C155.793 26.107 154.704 27.185 153.318 27.977C151.954 28.769 150.414 29.165 148.698 29.165ZM148.698 26.855C149.974 26.855 151.107 26.558 152.097 25.964C153.109 25.348 153.901 24.523 154.473 23.489C155.067 22.455 155.364 21.278 155.364 19.958C155.364 18.66 155.067 17.494 154.473 16.46C153.901 15.404 153.109 14.579 152.097 13.985C151.107 13.391 149.974 13.094 148.698 13.094C147.444 13.094 146.311 13.391 145.299 13.985C144.287 14.579 143.484 15.404 142.89 16.46C142.296 17.494 141.999 18.66 141.999 19.958C141.999 21.278 142.296 22.455 142.89 23.489C143.484 24.523 144.287 25.348 145.299 25.964C146.311 26.558 147.444 26.855 148.698 26.855ZM172.03 29.165C170.27 29.165 168.697 28.769 167.311 27.977C165.925 27.185 164.836 26.096 164.044 24.71C163.252 23.324 162.856 21.751 162.856 19.991C162.856 18.209 163.252 16.625 164.044 15.239C164.836 13.853 165.925 12.764 167.311 11.972C168.697 11.18 170.27 10.784 172.03 10.784C173.79 10.784 175.352 11.18 176.716 11.972C178.102 12.764 179.191 13.853 179.983 15.239C180.775 16.625 181.182 18.209 181.204 19.991C181.204 21.751 180.797 23.324 179.983 24.71C179.191 26.096 178.102 27.185 176.716 27.977C175.352 28.769 173.79 29.165 172.03 29.165ZM172.03 26.855C173.306 26.855 174.45 26.558 175.462 25.964C176.474 25.37 177.266 24.556 177.838 23.522C178.41 22.488 178.696 21.311 178.696 19.991C178.696 18.671 178.41 17.494 177.838 16.46C177.266 15.404 176.474 14.579 175.462 13.985C174.45 13.391 173.306 13.094 172.03 13.094C170.754 13.094 169.61 13.391 168.598 13.985C167.586 14.579 166.783 15.404 166.189 16.46C165.617 17.494 165.331 18.671 165.331 19.991C165.331 21.311 165.617 22.488 166.189 23.522C166.783 24.556 167.586 25.37 168.598 25.964C169.61 26.558 170.754 26.855 172.03 26.855Z' fill='%239298EB'/%3E%3Ccircle cx='172' cy='20' r='8' fill='%239298EB'/%3E%3Cpath d='M181.373 13.2476L172.224 23.6121L167.513 19.4535' stroke='%23F9FAFD' stroke-width='1.86207' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header .add-input {
    display: flex;
    align-items: center;
    padding: 0 10px;
    width: calc(100% - 20px);
}

.header .add-input button {
    width: 105px;
    padding: 6px 8px;
    background-color: #828BFF;
    color: #ffffff;
    font-size: 18px;
    border-radius: 4px;
    margin-left: 14px;
    cursor: pointer;
}

.new-todo,
.edit {
    position: relative;
    margin: 0;
    width: 100%;
    line-height: 1.4em;
    border: 0;
    font-size: 20px;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.new-todo {
    font-size: 20px;
    padding: 14px;
    border: none;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
}

.toggle-all {
    width: 1px;
    height: 1px;
    border: none; /* Mobile Safari */
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;
}

.todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo-list li {
    position: relative;
    font-size: 20px;
    border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
    border-bottom: none;
}

.todo-list li.editing {
    padding: 0;
}

.todo-list li.editing .edit {
    display: block;
    width: 506px;
    padding: 13px 11px;
    margin: 0 0 0 43px;
}

.todo-list li .view {
    padding: 0 24px;
}

.todo-list li.editing .view {
    display: none;
}

.todo-list li .toggle {
    text-align: center;
    width: 18px;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}

.todo-list li .toggle {
    opacity: 0;
}

.todo-list li .toggle + label {
    /*
        Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
        IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
    */
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect opacity='0.24' x='0.5' y='1' width='17' height='17' rx='8.5' stroke='%238F9BB3'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center left;
}

.todo-list li .toggle:checked + label {
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='0.5' width='18' height='18' rx='9' fill='%2355C443'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.0385 6.92926C11.3926 6.46204 12.0718 6.36049 12.5555 6.70244C13.0393 7.04439 13.1444 7.70035 12.7904 8.16757L9.43119 12.6005C9.06878 13.0787 8.36974 13.1323 7.93862 12.715L5.31701 10.177C4.89362 9.76707 4.89443 9.1033 5.31884 8.69438C5.74324 8.28546 6.43052 8.28625 6.85391 8.69614L8.49539 10.2853L11.0385 6.92926Z' fill='white'/%3E%3Cmask id='mask0_7_75' style='mask-type:alpha' maskUnits='userSpaceOnUse' x='5' y='6' width='8' height='7'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.0385 6.92926C11.3926 6.46204 12.0718 6.36049 12.5555 6.70244C13.0393 7.04439 13.1444 7.70035 12.7904 8.16757L9.43119 12.6005C9.06878 13.0787 8.36974 13.1323 7.93862 12.715L5.31701 10.177C4.89362 9.76707 4.89443 9.1033 5.31884 8.69438C5.74324 8.28546 6.43052 8.28625 6.85391 8.69614L8.49539 10.2853L11.0385 6.92926Z' fill='white'/%3E%3C/mask%3E%3Cg mask='url(%23mask0_7_75)'%3E%3C/g%3E%3C/svg%3E%0A");
}

.todo-list li label {
    word-break: break-all;
    padding: 15px 30px;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-weight: 400;
}

.todo-list li.completed label {
    color: #d9d9d9;
    text-decoration: line-through;
}

.todo-list li .destroy {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 40px;
    height: 40px;
    margin: auto 0;
    font-size: 30px;
    color: #e07b7b;
    margin-bottom: 11px;
    transition: color 0.1s ease-out;
    cursor: pointer;
}

.todo-list li .destroy:hover {
    color: #ee2b30;
}

.todo-list li .destroy:after {
    content: '×';
}

.todo-list li:hover .destroy {
    display: block;
}

.todo-list li .edit {
    display: none;
}

.footer {
    color: #777;
    padding: 10px 15px;
    height: 20px;
    text-align: center;
    border-top: 1px solid #e6e6e6;
}

.todo-count {
    float: left;
    text-align: left;
    color: #8F9BB3;
}

.todo-count strong {
    font-weight: 300;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
}

.filters li {
    display: inline;
}

.filters li a {
    color: #8F9BB3;
    margin: 3px;
    padding: 3px 7px;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 3px;
}

.filters li a:hover {
    border-color: #EBEBEB;
}

.filters li a.selected {
    border-color: #EBEBEB;
}

.clear-completed,
html .clear-completed:active {
    float: right;
    position: relative;
    line-height: 20px;
    text-decoration: none;
    cursor: pointer;
    color: #8F9BB3;
}

.clear-completed:hover {
    text-decoration: underline;
}

.info {
    margin: 35px 0 65px 0;
    color: #bfbfbf;
    font-size: 12px;
    font-weight: 400;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
}

.info p {
    line-height: 1;
}

.info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
}

.info a:hover {
    text-decoration: underline;
}

/*
	Hack to remove background from Mobile Safari.
	Can't use it globally since it destroys checkboxes in Firefox
*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .toggle-all,
    .todo-list li .toggle {
        background: none;
    }

    .todo-list li .toggle {
        height: 18px;
    }
}

@media (max-width: 430px) {
    .footer {
        height: 50px;
    }

    .filters {
        bottom: 10px;
    }
}
